
.mainContainer {
	margin: 50 auto;
	width: 800px;
	max-width: 90%;
	padding: 15px;
	border: 2px solid black;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	grid-row-gap: 40px;
}

.guessOptions {
	margin: 0 auto;
	padding: 10px;
	/*width: 600px;*/
	display: grid;
	grid-template-columns: 75px 75px 75px 75px;
	justify-content: start;
}

.discreteGuess {
	border: 1px solid black;
}

.box {
	padding: 10px;
	border: 2px solid black;
}


h2 {
	font-size: 28px;
	border-bottom: 1px solid black;
}

p {
	font-size: 22px;
	margin-top: 15px;
}